<!-- Navigation -->
<!-- Page Wrapper -->
  <div id="page-wrapper">

    <!-- Header -->
      <header id="header">
        <h1><a href="index.html">All Things Under Analyzed</a></h1>
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

    <!-- Menu -->
      <nav id="menu">
        <div class="inner">
          <h2>Menu</h2>
          <ul class="links">
            <li><a href="index.html">About</a></li>
            <li><a href="generic.html">Dust Bin</a></li>
            <li><a href="elements.html">Disclaimer</a></li>
          </ul>
          <a href="#" class="close">Close</a>
        </div>
      </nav>
