<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <div id="search-container">
      <form method="get" action="/search" data-search-form>
        <input type="search" name="q" id="q" placeholder="What are you looking for?" data-search-input />
      </form>
    </div>
    </br></br>
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
