---
layout: default
---


<!-- Wrapper -->
  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>Generic</h2>
        <p>Phasellus non pulvinar erat. Fusce tincidunt nisl eget ipsum.</p>
        <h2>{{ page.title }}</h2>
        {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
        {% endif %}
      </div>
    </header>

    <!-- Content -->
      <div class="wrapper">
        <div class="inner">

          {{ content }}

          <ul class="actions">
              {% if page.previous.url %}
              <li class="button small">
                  <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
              </li>
              {% endif %}
              {% if page.next.url %}
              <li class="button small">
                  <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
              </li>
              {% endif %}
          </ul>

        </div>
      </div>

  </section>
